{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>AutoFuzz Fuzzing Report</title>
    <meta name="description" content="MobSF Report">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/pdf/pdf_report.css' %}">
    <link rel="stylesheet" href="{% static 'css/pdf/all.min.css' %}">
</head>




<body bgcolor="FFFFFF">

    <article id="cover">
        <div class="header">
            <img src="{% static  'img/autofuzz_logo.jpg' %}" class="center logo" alt="AutoFuzz Logo" />
            <div class="htext">AutoFuzz Fuzzing Report </div>
        </div>
        </br></br></br>
        <div class="app">
            <img class="center" id="icon" src="{% static 'img/iscas_logo.jpg' %}" alt="app_icon" />
        </div>
        <!-- <div class="center"> -->
        <!-- <h1><i class="fab fa-apple"></i> {{ app_name }} {% if app_version %} ({{app_version}}) {% endif %}</h1> -->
        <!-- </div> -->
        </br></br></br></br></br>

        <div class="container">
            <table class="basic no_border">
                <tr class="no_border">
                    <td class="no_border">
                        <h3>File Name:</h3>
                    </td>
                    <td class="no_border">
                        <h3>{{file_name}}</h3>
                    </td>
                </tr>
                <tr>
                    <td class="no_border">
                        <h3>Publisher:</h3>
                    </td>
                    <td class="no_border">
                        <h3>{{ publisher_name }}</h3>
                    </td>
                </tr>
                <tr>
                    <td class="no_border">
                        <h3>Scan Date:</h3>
                    </td>
                    <td class="no_border">
                        <h3>{{ timestamp }}</h3>
                    </td>
                </tr>
            </table>
        </div>
        <br><br><br><br><br><br><br><br>
    </article>

    <article id='contents'>
        <h2><i class="fas fa-box-open"></i> PROJECT INFORMATION</h2>

        <h5>File Name:</h5> {{ file_name }}</br>
        <h5>Size: </h5> {{ size }}</br>
        <h5>MD5:</h5> {{ md5 }}</br>
        <h5>SHA1:</h5> {{ sha1 }}</br>
        <h5>SHA256:</h5> {{ sha256 }}</br>




        <h2><i class="fas fa-flag"></i> RUNTIME INFORMATION</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>属性</th>
                <th>值</th>
                <th>属性说明</th>
                <th>更新时间</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>开始时间</td>
                <td>{{ asc_start_time }}</td>
                <td>模糊测试任务启动的时刻</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>2</td>
                <td>上次更新时间</td>
                <td>{{ asc_last_update }}</td>
                <td>模糊测试上次更新种子的时刻</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>3</td>
                <td>循环轮次</td>
                <td>{{ cycles_done }}</td>
                <td>循环执行程序的次数</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>4</td>
                <td>总执行次数</td>
                <td>{{ execs_done }}</td>
                <td>执行程序的总次数</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>5</td>
                <td>每秒执行次数</td>
                <td>{{ execs_per_sec }}</td>
                <td>反映模糊测试进程的执行效率</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>6</td>
                <td>总路径数</td>
                <td>{{ paths_total }}</td>
                <td>模糊测试执行过程中覆盖到的总路径条数</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr class="danger">
                <td>7</td>
                <td>崩溃数</td>
                <td>{{ unique_crashes }}</td>
                <td>触发不同崩溃的次数</td>
                <td>{{ panel_update_time }}</td>
              </tr>
              <tr>
                <td>8</td>
                <td>挂起次数</td>
                <td>{{ unique_hangs }}</td>
                <td>程序运行过程中出现异常而挂起的次数</td>
                <td>{{ panel_update_time }}</td>
              </tr>
            </tbody>
          </table>

    </article>

    <article id="columns">
        </br>
        <hr>
        <h3>Report Generated by - AutoFuzz {{ version }} </h3>
        <section>
            <p>
                Automated Fuzzing Framework (AutoFuzz) is an automated, all-in-one web application for fuzzing open-source 
                softwares.
            </p>
            <p>
                <strong>© {% now "Y" %} Automated Fuzzing Framework - AutoFuzz
                <!-- | <a href="https://v.com">Ajin Abraham</a> | <a href="https://opensecurity.in">OpenSecurity</a>.</strong> -->
            </p>
        </section>
    </article>
























</body>


</html>